/* 'body'는 웹 페이지의 전체를 나타냅니다. 'background-color' 속성을 이용해 웹 페이지의 배경 색상을 푸른색(#e6f7ff)으로 설정하고 있습니다. */
body {
  background-color: #e6f7ff; /* Light blue background */
}

/* '.navbar'는 클래스 이름이 'navbar'인 모든 요소를 선택합니다. 
     이 경우, 네비게이션 바의 배경색을 진한 푸른색(#1890ff)으로 설정하여 전체 배경색과 대비를 이루도록 합니다. */
.navbar {
  background-color: #11ff00; /* Darker blue for contrast */
}

/* '.container' 클래스를 가진 모든 요소에 대해 'padding-top' 속성을 설정합니다. 
     'padding-top'은 요소의 상단 내부 여백을 설정합니다. 이 경우, 위쪽 내부 여백을 20픽셀로 설정하고 있습니다. 
     이로 인해 요소의 콘텐츠와 경계 사이에 조금 더 공간이 생깁니다. */
.container {
  padding-top: 20px;
}
